bak
ChangeLog.txt
Dockerfile
README.md
.mytest

predzinc/bin/create_svm_vector
predzinc/bin/database_build
predzinc/bin/gating_gistPred
predzinc/bin/getfilepath
predzinc/bin/mtx2modm
predzinc/bin/postscan-frag-search
predzinc/bin/pssm2modm
predzinc/bin/pssm2Qij
predzinc/bin/report_zincpred
predzinc/bin/rootname
predzinc/bin/search_new
predzinc/bin/znpred-postscan
predzinc/lib

predzinc/data

*.so.*
*.o
*.log
*~
*.swp
*.swo
*.pyc

.svn
