bak/
*.so.*
*.o
*.log
*~
*.swp
*.swo
*.pyc

.svn

create_svm_vector
database_build
gating_gistPred
getfilepath
mtx2modm
postscan-frag-search
pssm2modm
pssm2Qij
report_zincpred
rootname
search_new
znpred-postscan

mytest/

ASCII_fragacc.txt
ASCII_Qij.txt
ASCII_modm.txt
